* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #93b2cd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #4d6edcde;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.converter {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.temp-input, .unit-select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.unit-select {
    width: 100%;
}

span {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
}

.result {
    margin-top: 20px;
}

h2 {
    font-size: 20px;
    color: #333;
}

#resultValue {
    font-size: 22px;
    font-weight: bold;
    color: #13e91a;
}
